.item_details{

          &_container{
                    display: flex;  
                    min-height: 60vh;  
                    gap: 40px;               
          }

          &_image{
                    width: 40%;
                    object-fit: cover ;
          }

          &_description_container{
                    width: 60%;
                    height: 60%;
                    text-align: center;
                    padding-top: 5%;

                    &_title{
                              
                              font-size: 3rem;
                              font-weight: 500;
                    }

                    &_rate{
                              font-weight: 500;
                              font-size: x-large;
                    }

                    &_price{
                              color: steelblue;
                              font-size: xx-large;
                              font-weight: 500;
                              font-family: Arial, Helvetica, sans-serif;
                    }

                    &_description{
                              font-weight: 500;
                    }

                    &_category{
                              font-weight: 500;
                    }
          }

          
}

.item_details_description_container_cart{
          display: flex;
          align-items: center;
          justify-content: center;
}