.item_details{

          &_container{
                    display: flex;  
                    min-height: 60vh;  
                    gap: 40px;               
          }

          &_image{
                    width: 40%;
                    object-fit: cover ;
          }

          &_description_container{
                    width: 60%;
                    height: 60%;
                    text-align: center;
                    padding-top: 5%;

                    &_title{
                              font-size: xx-large;
                              font-weight: 500;
                    }

                    &_rate{
                              font-weight: 500;
                    }

                    &_price{
                              font-weight: 500;
                    }

                    &_description{
                              font-weight: 500;
                    }

                    &_category{
                              font-weight: 500;
                    }
          }

          
}

