product_title {
          font-size: 1rem;
          color: black;
}

product_price {
          font-size: 1rem;
          color: grey;
}

.image{
          max-width: 200px;
          max-height: 100px;
}