@use "../../global.scss" as globalVariables;

.header {
    padding: 5px;
    background-color: globalVariables.$color-primary;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav {
    vertical-align: middle;
    display: inline;
    background-color: red;
}

.logo_wrapp {
    max-width: 50px;
}

.logo {
    border-radius: 50%;
}

.nav_items {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 20px;
}

.nav_item {
    padding: 10px;
    background-color: globalVariables.$color-primary-light;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}