.user_badge {
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
}

.logout_icon {
    height: 25px;
    width: 25px;
    color:white;
    &:hover{
          transform: scale(1.5);
    }
}