.footer {
    padding:20px;
    background-color: #27334d;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
          border-radius: 100px;
}


a{
          color: rgb(213, 220, 235);
}

.footer_icon{
          margin-bottom: 10px;
          &:hover{
          transform: scale(1.5);
    }
}