@use "../../global.scss" as globalVariables;

.headline{
    margin: 0;
    padding: 20px;
    background-color: globalVariables.$color-primary;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
}