.card_box{
          width: 250px;
          height: 350px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
}

.product_title {
          font-size: 1rem;
          color: rgb(0, 0, 0);
}

.product_price {
          font-size: .8rem;
          color: grey;
}

.image{
          max-width: 100px;
          max-height: 130px;
          cursor: pointer;
          -webkit-transition: -webkit-transform 0.4s;
          transition: transform 0.4s;
          &:hover{
          -webkit-transform: scale(1.2) rotate(0.01deg);
          transform: scale(1.5) rotate(0.01deg);
    }
}

.add_to_cart {
      display: block;
      width: 50%; 
      font-size: small;
    }
@media (0px <= width <= 600px) {
          .card_box{
                    max-width: 150px;
                    max-height: 300px;
          }
}