.card_box{
          max-width: 200px;
          max-height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

.product_title {
          font-size: 1rem;
          color: rgb(0, 0, 0);
}

.product_price {
          font-size: .8rem;
          color: grey;
}

.image{
          max-width: 50px;
          max-height: 80px;
}

.add_to_cart {
      display: block;
      width: 50%; 
    }