body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$color-primary: rgb(26, 123, 202);
$color-primary-light: rgb(53, 164, 255);
$color-primary-dark: rgb(20, 98, 161);

$color-text: rgb(197, 221, 240);

$color-success-100: #a2f0bc;
$color-success-500: #12bd4b;

$color-error-100: #f1acc9;
$color-error-500: #a10c4a;

/* HELPERS */
.flex {
  display: flex;
}

a {
  text-decoration: none;
}